body {
  background-color: rgb(129, 137, 156);
}
/* Navigationsmenuen */
nav ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.cta-btn {
  color: whitesmoke;
  background-color: rgb(147, 187, 239);
  padding: 10px 16px;
  display: inline-block;
  border-radius: 5px;
}

h1,
h2,
h3 {
  color: rgb(109, 183, 215);
}
p {
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  list-style: none;
  margin-top: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
}
h2,
h3 {
  list-style: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.3em;
}

section {
  list-style: none;
  margin-top: 0;
  padding: 0em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: left;
}
img {
  max-width: 100%;
}

p {
  margin-inline-start: 1%;
  padding: 0%;
}
footer {
  color: whitesmoke;
}
